<a href="https://colab.research.google.com/github/wcj365/census-cost/blob/master/census_cost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US Census Cost Data Exploration

In [0]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [0]:
url = "https://www.genealogybranches.com/censuscosts.html"
html_content = requests.get(url).text
soup = BeautifulSoup(html_content, "lxml")
print(soup.prettify()[:3000])

In [24]:
table = soup.find("table")
rows = table.find_all("tr")
rows[:5]

[<tr><td align="center" width="18%">Census Year</td><td align="right" width="18%">Total Population</td><td align="right" width="18%">Census Cost</td><td align="right" width="18%">Average Cost Per Person</td></tr>,
 <tr><td align="center" width="18%">1790</td><td align="right" width="18%">3,929,214</td><td align="right" width="18%">$44,377</td><td align="right" width="18%">1.13 cents</td></tr>,
 <tr><td align="center" width="18%">1800</td><td align="right" width="18%">5,308,483</td><td align="right" width="18%">$66,109</td><td align="right" width="18%">1.24 cents</td></tr>,
 <tr><td align="center" width="18%">1810</td><td align="right" width="18%">7,239,881</td><td align="right" width="18%">$178,445</td><td align="right" width="18%">2.46 cents</td></tr>,
 <tr><td align="center" width="18%">1820</td><td align="right" width="18%">9,633,822</td><td align="right" width="18%">$208,526</td><td align="right" width="18%">2.16 cents</td></tr>]

In [25]:
header_row = rows[0]
header_tds = header_row.findAll("td")
header_tds

[<td align="center" width="18%">Census Year</td>,
 <td align="right" width="18%">Total Population</td>,
 <td align="right" width="18%">Census Cost</td>,
 <td align="right" width="18%">Average Cost Per Person</td>]

In [32]:
column_headers = []
for header_td in header_tds:
    column_headers.append(header_td.getText())
column_header

['Census Year',
 'Total Population',
 'Census Cost',
 'Average Cost Per Person',
 'Census Year',
 'Total Population',
 'Census Cost',
 'Average Cost Per Person']

In [47]:
data = []
for row in rows[1:]:
    data_row = []
    tds = row.findAll("td")
    for td in tds:
        data_row.append(td.getText())
    data.append(data_row)
df = pd.DataFrame(data,columns=column_headers)
df

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
Census Year                23 non-null object
Total Population           23 non-null object
Census Cost                23 non-null object
Average Cost Per Person    23 non-null object
dtypes: object(4)
memory usage: 864.0+ bytes

In [49]:
df["Total Population"] = df["Total Population"].apply(lambda x: int(x.replace(',',"")))
df

   Census Year  Total Population     Census Cost Average Cost Per Person
0         1790           3929214         $44,377              1.13 cents
1         1800           5308483         $66,109              1.24 cents
2         1810           7239881        $178,445              2.46 cents
3         1820           9633822        $208,526              2.16 cents
4         1830          12866020        $378,545              2.94 cents
5         1840          17069458        $833,371              4.88 cents
6         1850          23191876      $1,423,351              6.14 cents
7         1860          31443321      $1,969,377              6.26 cents
8         1870          38558371      $3,421,198              8.87 cents
9         1880          50155783      $5,790,678             11.54 cents
10        1890          62979766     $11,547,127             18.33 cents
11        1900          76303387     $11,854,000             15.54 cents
12        1910          91972266     $15,968,000             17.07 cents
13        1920         105710620     $25,117,000             23.76 cents
14        1930         122775046     $40,156,000             32.71 cents
15        1940         131669275     $67,527,000             51.29 cents
16        1950         151325798     $91,462,000             60.44 cents
17        1960         179323175    $127,934,000             71.34 cents
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22       2010*         308745538     $13 Billion                  $42.11

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
Census Year                23 non-null object
Total Population           23 non-null int64
Census Cost                23 non-null object
Average Cost Per Person    23 non-null object
dtypes: int64(1), object(3)
memory usage: 864.0+ bytes

In [74]:
df[df["Census Cost"].str.contains("Billion")] ["Census Cost"].apply(lambda x: str(int(float(x.strip("$, Billion")) * 100000000)))

21     450000000
22    1300000000
Name: Census Cost, dtype: object

In [56]:
df["Census Cost"] = df["Census Cost"].apply(lambda x : int(x.strip("$,Billion").replace(",","")))
df

ValueError: ignored