<a href="https://colab.research.google.com/github/wcj365/census-cost/blob/master/census_cost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US Census Cost Data Visualization

In [0]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import altair

In [88]:
url = "https://www.genealogybranches.com/censuscosts.html"
html_content = requests.get(url).text
soup = BeautifulSoup(html_content, "lxml")
print(soup.prettify()[:3000])

<html>
 <head>
  <title>
   The Cost of the Census | How Much Does it Cost to Take the U.S. Census?
  </title>
  <meta content="Joe Beine" name="author"/>
  <meta content="census, genealogy, federal, records, cost, population, costs" name="keywords"/>
  <meta content="A table showing the cost of taking the US Census from 1790-2010." name="description"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
 </head>
 <body alink="lightblue" bgcolor="white" link="blue" text="black" vlink="purple">
  <div align="center">
   <font face="arial, helvetica" size="2">
    ...Advertisements...
   </font>
   <br/>
   <iframe frameborder="0" height="90" scrolling="no" src="https://www.ancestrycdn.com/archives/1.8.2/ads-banner-cam8513.html" width="728">
   </iframe>
   <hr width="78%"/>
  </div>
  <div align="center">
   <font face="georgia, arial, helvetica">
    <h1 align="center">
     The Cost of the U.S. Census
    </h1>
    <h2 align="center">
     Includes U.S. Population Figures from the Census 1790-2010
    </h2>
   </font>
   <font face="arial, helvetica" size="3">
    This webpage lists the amount it cost the U.S. government to take the Federal Decennial Census for each of the census years 1790-2010...
   </font>
   <br/>
   <br/>
   <div align="left">
    <table align="center" border="3" cellspacing="3" width="42%">
     <tr>
      <td align="center" width="18%">
       Census Year
      </td>
      <td align="right" width="18%">
       Total Population
      </td>
      <td align="right" width="18%">
       Census Cost
      </td>
      <td align="right" width="18%">
       Average Cost Per Person
      </td>
     </tr>
     <tr>
      <td align="center" width="18%">
       1790
      </td>
      <td align="right" width="18%">
       3,929,214
      </td>
      <td align="right" width="18%">
       $44,377
      </td>
      <td align="right" width="18%">
       1.13 cents
      </td>
     </tr>
     <tr>
      <td align="center" width="18%">
       1800
      </td>
      <td align="right" width="18%">
       5,308,483
      </td>
      <td align="right" width="18%">
       $66,109
      </td>
      <td align="right" width="18%">
       1.24 cents
      </td>
     </tr>
     <tr>
      <td align="center" width="18%">
       1810
      </td>
      <td align="right" width="18%">
       7,239,881
      </td>
      <td align="right" width="18%">
       $178,445
      </td>
      <td align="right" width="18%">
       2.46 cents
      </td>
     </tr>
     <tr>
      <td align="center" width="18%">
       1820
      </td>
      <td align="right" width="18%">
       9,633,822
      </td>
      <td align="right" width="18%">
       $208,526
      </td>
      <td align="right" width="18%">
       2.16 cents
      </td>
     </tr>
     <tr>
      <td align="center" width="18%">
       1830
      </td>
      <td align="right" width="18%">
       12,866,020
      </td>
      <td align="right" width="18%">
       $378,545
      </td>
      <

In [89]:
table = soup.find("table")
rows = table.find_all("tr")
rows[:5]

[<tr><td align="center" width="18%">Census Year</td><td align="right" width="18%">Total Population</td><td align="right" width="18%">Census Cost</td><td align="right" width="18%">Average Cost Per Person</td></tr>,
 <tr><td align="center" width="18%">1790</td><td align="right" width="18%">3,929,214</td><td align="right" width="18%">$44,377</td><td align="right" width="18%">1.13 cents</td></tr>,
 <tr><td align="center" width="18%">1800</td><td align="right" width="18%">5,308,483</td><td align="right" width="18%">$66,109</td><td align="right" width="18%">1.24 cents</td></tr>,
 <tr><td align="center" width="18%">1810</td><td align="right" width="18%">7,239,881</td><td align="right" width="18%">$178,445</td><td align="right" width="18%">2.46 cents</td></tr>,
 <tr><td align="center" width="18%">1820</td><td align="right" width="18%">9,633,822</td><td align="right" width="18%">$208,526</td><td align="right" width="18%">2.16 cents</td></tr>]

In [90]:
header_row = rows[0]
header_tds = header_row.findAll("td")
header_tds

[<td align="center" width="18%">Census Year</td>,
 <td align="right" width="18%">Total Population</td>,
 <td align="right" width="18%">Census Cost</td>,
 <td align="right" width="18%">Average Cost Per Person</td>]

In [91]:
column_headers = []
for header_td in header_tds:
    column_headers.append(header_td.getText())
column_headers

['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person']

In [0]:
# The column headers are too verbose. Simplfy it.

column_headers = ["Year", "Pop", "Cost", "Average"]

In [93]:
data = []
for row in rows[1:]:
    data_row = []
    tds = row.findAll("td")
    for td in tds:
        data_row.append(td.getText())
    data.append(data_row)
df = pd.DataFrame(data,columns=column_headers)
df

     Year          Pop            Cost      Average
0    1790    3,929,214         $44,377   1.13 cents
1    1800    5,308,483         $66,109   1.24 cents
2    1810    7,239,881        $178,445   2.46 cents
3    1820    9,633,822        $208,526   2.16 cents
4    1830   12,866,020        $378,545   2.94 cents
5    1840   17,069,458        $833,371   4.88 cents
6    1850   23,191,876      $1,423,351   6.14 cents
7    1860   31,443,321      $1,969,377   6.26 cents
8    1870   38,558,371      $3,421,198   8.87 cents
9    1880   50,155,783      $5,790,678  11.54 cents
10   1890   62,979,766     $11,547,127  18.33 cents
11   1900   76,303,387     $11,854,000  15.54 cents
12   1910   91,972,266     $15,968,000  17.07 cents
13   1920  105,710,620     $25,117,000  23.76 cents
14   1930  122,775,046     $40,156,000  32.71 cents
15   1940  131,669,275     $67,527,000  51.29 cents
16   1950  151,325,798     $91,462,000  60.44 cents
17   1960  179,323,175    $127,934,000  71.34 cents
18   1970  203,302,031    $247,653,000        $1.22
19   1980  226,542,199  $1,078,488,000        $4.76
20   1990  248,718,301  $2,492,830,000       $10.02
21   2000  281,421,906    $4.5 Billion       $15.99
22  2010*  308,745,538     $13 Billion       $42.11

In [94]:
# remove the "*" from year 2010 

df['Year2'] = df["Year"].apply(lambda x: x.strip('*'))

df

     Year          Pop            Cost      Average Year2
0    1790    3,929,214         $44,377   1.13 cents  1790
1    1800    5,308,483         $66,109   1.24 cents  1800
2    1810    7,239,881        $178,445   2.46 cents  1810
3    1820    9,633,822        $208,526   2.16 cents  1820
4    1830   12,866,020        $378,545   2.94 cents  1830
5    1840   17,069,458        $833,371   4.88 cents  1840
6    1850   23,191,876      $1,423,351   6.14 cents  1850
7    1860   31,443,321      $1,969,377   6.26 cents  1860
8    1870   38,558,371      $3,421,198   8.87 cents  1870
9    1880   50,155,783      $5,790,678  11.54 cents  1880
10   1890   62,979,766     $11,547,127  18.33 cents  1890
11   1900   76,303,387     $11,854,000  15.54 cents  1900
12   1910   91,972,266     $15,968,000  17.07 cents  1910
13   1920  105,710,620     $25,117,000  23.76 cents  1920
14   1930  122,775,046     $40,156,000  32.71 cents  1930
15   1940  131,669,275     $67,527,000  51.29 cents  1940
16   1950  151,325,798     $91,462,000  60.44 cents  1950
17   1960  179,323,175    $127,934,000  71.34 cents  1960
18   1970  203,302,031    $247,653,000        $1.22  1970
19   1980  226,542,199  $1,078,488,000        $4.76  1980
20   1990  248,718,301  $2,492,830,000       $10.02  1990
21   2000  281,421,906    $4.5 Billion       $15.99  2000
22  2010*  308,745,538     $13 Billion       $42.11  2010

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
Year       23 non-null object
Pop        23 non-null object
Cost       23 non-null object
Average    23 non-null object
Year2      23 non-null object
dtypes: object(5)
memory usage: 1.0+ KB

In [96]:
# Remove the "," from total population and convert it to integers

df["Pop2"] = df["Pop"].apply(lambda x: int(x.replace(',',"")))

df

     Year          Pop            Cost      Average Year2       Pop2
0    1790    3,929,214         $44,377   1.13 cents  1790    3929214
1    1800    5,308,483         $66,109   1.24 cents  1800    5308483
2    1810    7,239,881        $178,445   2.46 cents  1810    7239881
3    1820    9,633,822        $208,526   2.16 cents  1820    9633822
4    1830   12,866,020        $378,545   2.94 cents  1830   12866020
5    1840   17,069,458        $833,371   4.88 cents  1840   17069458
6    1850   23,191,876      $1,423,351   6.14 cents  1850   23191876
7    1860   31,443,321      $1,969,377   6.26 cents  1860   31443321
8    1870   38,558,371      $3,421,198   8.87 cents  1870   38558371
9    1880   50,155,783      $5,790,678  11.54 cents  1880   50155783
10   1890   62,979,766     $11,547,127  18.33 cents  1890   62979766
11   1900   76,303,387     $11,854,000  15.54 cents  1900   76303387
12   1910   91,972,266     $15,968,000  17.07 cents  1910   91972266
13   1920  105,710,620     $25,117,000  23.76 cents  1920  105710620
14   1930  122,775,046     $40,156,000  32.71 cents  1930  122775046
15   1940  131,669,275     $67,527,000  51.29 cents  1940  131669275
16   1950  151,325,798     $91,462,000  60.44 cents  1950  151325798
17   1960  179,323,175    $127,934,000  71.34 cents  1960  179323175
18   1970  203,302,031    $247,653,000        $1.22  1970  203302031
19   1980  226,542,199  $1,078,488,000        $4.76  1980  226542199
20   1990  248,718,301  $2,492,830,000       $10.02  1990  248718301
21   2000  281,421,906    $4.5 Billion       $15.99  2000  281421906
22  2010*  308,745,538     $13 Billion       $42.11  2010  308745538

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
Year       23 non-null object
Pop        23 non-null object
Cost       23 non-null object
Average    23 non-null object
Year2      23 non-null object
Pop2       23 non-null int64
dtypes: int64(1), object(5)
memory usage: 1.2+ KB

In [0]:
# Census cost is a bit complicated. 
# Let's define a function instead of using lambda

def cleanse_total_cost(x):

    x = x.replace(",", "")      # remove the ","
    x = x.strip("$")    # remove the leading $ sign 

    # Process year 2000 and 2010
    if "Billion" in x: 
        x = x.replace("Billion", "").strip()  
        if "." in x:                         # Year 2000
            x = x.replace(".","")
            x = x + "00000000"
        else:                                # Year 2010
            x = x + "000000000"
   
    return int(x)

In [99]:
# Cleanse the Census Cost by applying a defined function

df["Cost2"] = df["Cost"].apply(cleanse_total_cost)

df

     Year          Pop            Cost  ... Year2       Pop2        Cost2
0    1790    3,929,214         $44,377  ...  1790    3929214        44377
1    1800    5,308,483         $66,109  ...  1800    5308483        66109
2    1810    7,239,881        $178,445  ...  1810    7239881       178445
3    1820    9,633,822        $208,526  ...  1820    9633822       208526
4    1830   12,866,020        $378,545  ...  1830   12866020       378545
5    1840   17,069,458        $833,371  ...  1840   17069458       833371
6    1850   23,191,876      $1,423,351  ...  1850   23191876      1423351
7    1860   31,443,321      $1,969,377  ...  1860   31443321      1969377
8    1870   38,558,371      $3,421,198  ...  1870   38558371      3421198
9    1880   50,155,783      $5,790,678  ...  1880   50155783      5790678
10   1890   62,979,766     $11,547,127  ...  1890   62979766     11547127
11   1900   76,303,387     $11,854,000  ...  1900   76303387     11854000
12   1910   91,972,266     $15,968,000  ...  1910   91972266     15968000
13   1920  105,710,620     $25,117,000  ...  1920  105710620     25117000
14   1930  122,775,046     $40,156,000  ...  1930  122775046     40156000
15   1940  131,669,275     $67,527,000  ...  1940  131669275     67527000
16   1950  151,325,798     $91,462,000  ...  1950  151325798     91462000
17   1960  179,323,175    $127,934,000  ...  1960  179323175    127934000
18   1970  203,302,031    $247,653,000  ...  1970  203302031    247653000
19   1980  226,542,199  $1,078,488,000  ...  1980  226542199   1078488000
20   1990  248,718,301  $2,492,830,000  ...  1990  248718301   2492830000
21   2000  281,421,906    $4.5 Billion  ...  2000  281421906   4500000000
22  2010*  308,745,538     $13 Billion  ...  2010  308745538  13000000000

[23 rows x 7 columns]

In [0]:
# Average Cost Per Person is also a bit complicated. 
# Let's define a function instead of using lambda

def cleanse_average_cost(x):

    if "cents" in x: 
        x = x.replace("cents", "").strip()  
    else:
        x = x.strip("$").replace(".","")                  
   
    return float(x)

In [101]:
# Cleanse the average cost per person 

df['Average2'] = df['Average'].apply(cleanse_average_cost)

df

     Year          Pop            Cost  ...       Pop2        Cost2  Average2
0    1790    3,929,214         $44,377  ...    3929214        44377      1.13
1    1800    5,308,483         $66,109  ...    5308483        66109      1.24
2    1810    7,239,881        $178,445  ...    7239881       178445      2.46
3    1820    9,633,822        $208,526  ...    9633822       208526      2.16
4    1830   12,866,020        $378,545  ...   12866020       378545      2.94
5    1840   17,069,458        $833,371  ...   17069458       833371      4.88
6    1850   23,191,876      $1,423,351  ...   23191876      1423351      6.14
7    1860   31,443,321      $1,969,377  ...   31443321      1969377      6.26
8    1870   38,558,371      $3,421,198  ...   38558371      3421198      8.87
9    1880   50,155,783      $5,790,678  ...   50155783      5790678     11.54
10   1890   62,979,766     $11,547,127  ...   62979766     11547127     18.33
11   1900   76,303,387     $11,854,000  ...   76303387     11854000     15.54
12   1910   91,972,266     $15,968,000  ...   91972266     15968000     17.07
13   1920  105,710,620     $25,117,000  ...  105710620     25117000     23.76
14   1930  122,775,046     $40,156,000  ...  122775046     40156000     32.71
15   1940  131,669,275     $67,527,000  ...  131669275     67527000     51.29
16   1950  151,325,798     $91,462,000  ...  151325798     91462000     60.44
17   1960  179,323,175    $127,934,000  ...  179323175    127934000     71.34
18   1970  203,302,031    $247,653,000  ...  203302031    247653000    122.00
19   1980  226,542,199  $1,078,488,000  ...  226542199   1078488000    476.00
20   1990  248,718,301  $2,492,830,000  ...  248718301   2492830000   1002.00
21   2000  281,421,906    $4.5 Billion  ...  281421906   4500000000   1599.00
22  2010*  308,745,538     $13 Billion  ...  308745538  13000000000   4211.00

[23 rows x 8 columns]

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 8 columns):
Year        23 non-null object
Pop         23 non-null object
Cost        23 non-null object
Average     23 non-null object
Year2       23 non-null object
Pop2        23 non-null int64
Cost2       23 non-null int64
Average2    23 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.6+ KB

In [103]:
altair.Chart(df).mark_bar().encode(
    x = "Year2",
    y = "Average2"
).properties(
    width=800,
    height=600
)

alt.Chart(...)

In [104]:
altair.Chart(df).mark_circle().encode(
    x = "Year2",
    y = "Average2",
    size = "Pop2"
).properties(
    width=800,
    height=600
)

alt.Chart(...)